/Interface/StopWatch/nbproject/private/
/Interface/StopWatch/build/
/Interface/StopWatch/dist/
/Interface/RaspberryInterface/nbproject/private/
/Interface/RaspberryInterface/dist/
/Interface/RaspberryInterface/build/
/Interface/JavaFXApplication2/nbproject/private/
/Interface/JavaFXApplication2/build/
/Interface/JavaFXApplication2/dist/
/Interface/AxelInterface1/nbproject/private/
/Interface/AxelInterface1/build/
/Interface/AxelInterface1/dist/